PG_CONNECTION_STRING=postgresql://user:password@localhost:5432/ahorcado_db
JWT_SECRET=un_secreto_muy_largo_y_dificil_de_adivinar
PORT=4000
NODE_ENV=development
NEXT_PUBLIC_SUPABASE_URL=https://pdffkbrgwgsqnqsokqge.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_uDHDLvohXlnl2rS1yzPaQg_HndHCIh0
